.cabecalho{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 2em;
}

.cabecalho-caixa{
    width: 45%;
}

.cabecalho-info{
    color: var(--vermelho-central);
    font-weight: 600;
}

.cabecalho-titulo{
    font-size: 48px;
    font-weight: 600;
    color: var(--preto);
    padding: 0.5em;
}

.cabecalho-texto{
    color: var(--cinza);
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .cabecalho-caixa{
        width: 64%;
    }
    
}

@media screen and (max-width:425px){
    .cabecalho-titulo{
        font-size: 36px;
    }

    .cabecalho-texto{
        font-size: 18px;
    }
}