nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 7em;
}

.logo-titulo{
    margin: 0 15px;
    color: var(--cinza-escuro);
    font-size: 18px;
}

.links{
    margin-right: 25%;
}

a{
    text-decoration: none;
    margin: 0 0.6em;
    color: var(--cinza);
    font-size: 16px;
}

.buttons button{
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: var(--cinza);
    font-size: 16px;
}

#signUp{
    background: var(--vermelho-central);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: var(--branco);
}

@media screen and (max-width:1024px) {
    nav{
        padding: 2em 1em;
    }
    .links{
        margin-right: 0;
    }
    
}

@media screen and (max-width:425px) {
   .links{
        display: none;
    }

    .navbar-logo{
        margin-left: 18px;
    }

    .buttons{
        width: 100%;
        display: flex;
    }
    
}