.navbar{
    display: flex;
    justify-content: space-between;
}

.links, .navbar-logo, .buttons{
    display: flex;
    align-items: center;
    padding: 2em 7em;
}

.logo-titulo{
    margin: 0 15px;
    color: var(--cinza-escuro);
    font-size: 18px;
}

.links{
    margin-right: auto;
}

a{
    text-decoration: none;
    margin: 0 0.6em;
    color: var(--cinza);
    font-size: 16px;
}

button{
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: var(--cinza);
    font-size: 16px;
}

#signUp{
    background: var(--vermelho-central);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: var(--branco);
}