.vagas{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 2em;
}

.vagas-caixa{
    width: 45%;
}

.vagas-info{
    color: var(--vermelho-central);
    font-weight: 600;
    font-size: 14px;
}

.vagas-titulo{
    font-size: 36px;
    font-weight: 600;
    color: var(--preto);
    padding: 0.7em 0 0.5em;
}

.vagas-texto{
    color: var(--cinza);
    font-size: 20px;
}

.img-reuniao{
    display: flex;
    justify-content: center;
    padding: 2em 0 4em;
}