.vagas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.designer{
    padding: 0.7em 0;
}

.vagas h2{
    font: 20px;
    font-weight: 500;
    padding-bottom: 0.7em;
}

.vagas-caixa{
    border: 1px solid var(--cinza);
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 15px;
}

.vagas-caixa h3{
    font-size: 18px;
    font-weight: 500;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
    padding: 1em 0 0.5em;
    font-weight: 500;
    color: var(--cinza);
}

.salario{
    margin-left: 15px;
}